/* PivotMenuSample.css */

.pivotmenu-panel {
  height: 100%;
  margin-top: 140px; /* must be margin so header remains clickable */

  padding-left: 20px;
}

.rwatkins-pivotmenu-title {
  padding-left: 20px;
  padding-top: 20px;
}

.rwatkins-pivotmenu-header {
  font-size: 3em;

  white-space: nowrap;
  padding-left: 20px;
  padding-top: 60px;
}

.rwatkins-pivotmenu-header-item {
  color: #c0c0c0;

  display: inline-block;
  padding-right: 0.5em;
}

.rwatkins-pivotmenu-header-item.active {
  color: black;
}
