/* PivotMenuSample.css */

.pivotmenu-panel {
  height: 100%;
  margin-top: 140px; /* must be margin so header remains clickable */

  padding-left: 20px;
}

.rwatkins-pivotmenu-title {
  padding-left: 20px;
  padding-top: 20px;
}

.rwatkins-pivotmenu-header {
  font-size: 3em;

  padding-left: 20px;
  padding-top: 60px;
}

.rwatkins-pivotmenu-header-item {
   padding-right: 0.5em;
}

